/* Fonts */

/* Text Colors */
/* Note: These colors will typically change depending on your brand colors */
/* ============== */

.black-text {
    color: #000000 !important;
}

.white-text {
    color: #ffffff !important;
}

.green-text {
    color: #6CBD45;
}

.green-text-2 {
    color: #4f982c;
}

.green-text-3 {
    color: #28a745;
}

.purple-text {
    color: #DE60CB;
}

.dark-green-text {
    color: #64aa47 !important;
}

.blue-text {
    color: #135677 !important;
}

.blue-text-2 {
    color: #113f54;
}

.lightblue-text {
    color: #67ccfb !important;
}

.lightgrey-text {
    color: #f7f7f7;
}

.yellow-text {
    color: #FFD802;
}

.yellow-text-2 {
    color: #e0bf01;
}

.grey-text {
    color: #868e96;
}

.darkgrey-text {
    color: #454545;
}

.red-text {
    color: #ff0000;
}

.orange-text {
    color: #f26f24;
}

.orange-light-text {
    color: #fb9925;
}

.navy-text {
    color: #135677;
}

.be-green-text {
    color: #5ba941;
}

.be-blue-text {
    color: #1c78bd;
}

/* Background Colors */
/* ============== */

.transparent {
    background-color: transparent !important;
}

.white {
    background-color: #ffffff;
}

.white-opacity-90 {
    background-color: rgba(255, 255, 255, 0.9);
}

.white-opacity-80 {
    background-color: rgba(255, 255, 255, 0.8);
}

.light-yellow {
    background-color: #FFF2B9;
}

.lightblue {
    background-color: #f0f7ff;
}

.lightblue-2 {
    background-color: #D7FFF2;
}

.lightblue-3 {
    background-color: #f1fffa;
}

.lightblue-grad {
    background: rgb(239, 247, 255);
    background: linear-gradient(248deg, rgba(239, 247, 255, 1) 30%, rgba(177, 205, 233, 1) 100%);
}

.mid-blue {
    background-color: #2490c3;
}

.black-bg {
    background-color: #000000;
}

.black-trans {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.001) 100%);
}

.black-6 {
    background-color: rgba(0, 0, 0, 0.6);
}

.black-7 {
    background-color: rgba(0, 0, 0, 0.7);
}

.black-8 {
    background-color: rgba(0, 0, 0, 0.8);
}

.black-9 {
    background-color: rgba(19, 13, 4, 0.9);
}

.darkbrown-text {
    color: #5f2a12;
}

.darkblue-text {
    color: #023055;
}

.lightgrey {
    background-color: #fafafa;
}

.lightgrey-2 {
    background-color: #efefef;
}

.lightgrey-grad {
    background: rgb(255, 255, 255);
    background: linear-gradient(42deg, rgba(255, 255, 255, 1) 0%, rgba(227, 227, 227, 1) 100%);
}

.purple {
    background-color: #ad819a;
}

.grey {
    background-color: #d1d0d0;
}

.darkgrey {
    background-color: #36373b;
}

.darkgrey-2 {
    background-color: #333333;
}

.blue {
    background-color: #135777;
}

.blue-grad {
    background: rgb(50, 152, 199);
    background: linear-gradient(180deg, rgba(50, 152, 199, 1) 0%, rgba(32, 110, 153, 1) 35%, rgba(14, 65, 99, 1) 66%, rgba(5, 42, 68, 1) 100%);
}

.green-grad {
    background: rgb(148, 213, 48);
    background: linear-gradient(90deg, rgba(148, 213, 48, 1) 0%, rgba(248, 255, 236, 1) 100%);
}

.grey-grad {
    background-color: #f9fcff;
    background-image: linear-gradient(180deg, #f9fcff 0%, #dee4ea 74%);
}

.green {
    background-color: #6cbd45;
}

.navy {
    background-color: #023055;
}

.blue-mid {
    background-color: #135677;
}

.red {
    background-color: #db3739;
}

.yellow {
    background-color: #FFD802;
}

.orange {
    background-color: #f26f24;
}

.orange-light {
    background-color: #fb9925;
}

.orange-gradient {
    background: rgb(251, 147, 33);
    background: linear-gradient(54deg, rgba(251, 147, 33, 1) 0%, rgba(255, 127, 51, 1) 50%);
}

.brown {
    background-color: rgba(107, 50, 0, 0.9);
}

.visible-no {
    visibility: hidden !important;
}

.outline-no {
    outline: none !important;
}

/* SVG Fills */
.white-fill {
    fill: #ffffff !important;
}

/* Font Weights */
/* ============== */

.heavy-300 {
    font-weight: 300;
}

.heavy-400 {
    font-weight: 400;
}

.heavy-500 {
    font-weight: 500;
}

.heavy-600 {
    font-weight: 600;
}

.heavy-700 {
    font-weight: 700;
}

.heavy-800 {
    font-weight: 800;
}

.heavy-900 {
    font-weight: 900;
}

/* Font Sizes */
/* ============== */

/* Pixels */
.font-9 {
    font-size: 9px;
}

.font-10 {
    font-size: 10px;
}

.font-11 {
    font-size: 11px;
}

.font-12 {
    font-size: 12px;
}

.font-13 {
    font-size: 13px;
}

.font-14 {
    font-size: 14px;
}

.font-15 {
    font-size: 15px;
}

.font-16 {
    font-size: 16px;
}

.font-17 {
    font-size: 17px;
}

.font-18 {
    font-size: 18px;
}

.font-19 {
    font-size: 19px;
}

.font-20 {
    font-size: 20px;
}

.font-21 {
    font-size: 21px;
}

.font-22 {
    font-size: 22px;
}

.font-23 {
    font-size: 23px;
}

.font-24 {
    font-size: 24px;
}

.font-25 {
    font-size: 25px;
}

.font-26 {
    font-size: 25px;
}

.font-27 {
    font-size: 27px;
}

.font-28 {
    font-size: 28px;
}

.font-29 {
    font-size: 29px;
}

.font-30 {
    font-size: 30px;
}

.font-32 {
    font-size: 32px;
}

.font-34 {
    font-size: 34px;
}

.font-38 {
    font-size: 38px;
}

.font-42 {
    font-size: 42px;
}

.font-44 {
    font-size: 44px;
}

.font-48 {
    font-size: 48px;
}

.font-50 {
    font-size: 50px;
}

.font-52 {
    font-size: 52px;
}

.font-100 {
    font-size: 100%;
}

/* REM */
.font-rem-0-8 {
    font-size: 0.8rem;
}

.font-rem-0-9 {
    font-size: 0.9rem;
}

.font-rem-1 {
    font-size: 1rem;
}

.font-rem-1-1 {
    font-size: 1.1rem;
}

.font-rem-1-2 {
    font-size: 1.2rem;
}

.font-rem-1-3 {
    font-size: 1.3rem;
}

.font-rem-1-5 {
    font-size: 1.5rem;
}

.font-rem-1-8 {
    font-size: 1.8rem;
}

.font-rem-2 {
    font-size: 2rem;
}

.font-rem-2-1 {
    font-size: 2.1rem;
}

.font-rem-2-2 {
    font-size: 2.2rem;
}

.font-rem-2-3 {
    font-size: 2.3rem;
}

.font-rem-2-5 {
    font-size: 2.5rem;
}

.font-rem-2-7 {
    font-size: 2.7rem;
}

.font-rem-3 {
    font-size: 3rem;
}

.font-rem-3-1 {
    font-size: 3.1rem;
}

.font-rem-3-2 {
    font-size: 3.2rem;
}

.font-rem-3-3 {
    font-size: 3.3rem;
}

.font-rem-3-5 {
    font-size: 3.5rem;
}

.font-rem-3-6 {
    font-size: 3.6rem;
}

.font-rem-3-7 {
    font-size: 3.7rem;
}

.font-rem-3-8 {
    font-size: 3.8rem;
}

.font-rem-3-9 {
    font-size: 3.9rem;
}

.font-rem-4 {
    font-size: 4rem;
}

.small-text {
    font-size: 0.8125rem !important;
}

.normal {
    font-size: 1rem;
}

.big {
    font-size: 1.2rem;
}

.big-2 {
    font-size: 1.4rem;
}

.bigger {
    font-size: 1.6rem;
}

.biggest {
    font-size: 2rem;
}

.biggest-2 {
    font-size: 2.2rem;
}

.large {
    font-size: 2.5rem;
}

.huge {
    font-size: 3rem;
}

.huge-lg {
    font-size: 3.5rem;
}

.huge-xl {
    font-size: 4rem;
}

.huge-xxl {
    font-size: 4.5rem;
}

.pointer {
    cursor: pointer;
}


/* Spacing */
/* ============== */

.letter-space-zero {
    letter-spacing: 0 !important;
}

.letter-space-neg-5 {
    letter-spacing: -0.05rem;
}

.letter-space-neg-6 {
    letter-spacing: -0.06rem;
}

.letter-space {
    letter-spacing: 0.03rem;
}

.letter-space-06 {
    letter-spacing: 0.06rem;
}

.letter-space-10 {
    letter-spacing: 0.10rem;
}

.letter-space-15 {
    letter-spacing: 0.15rem;
}

.letter-space-0-2 {
    letter-spacing: 0.2rem;
}

.justify {
    text-align: justify !important;
}

.text-shadow {
    text-shadow: 2px 2px #000000;
}


/* Line Height Spacing */
/* ============== */

.line-0 {
    line-height: 0;
}

.line-8 {
    line-height: 8px;
}

.line-10 {
    line-height: 10px;
}

.line-12 {
    line-height: 12px;
}

.line-15 {
    line-height: 15px;
}

.line-16 {
    line-height: 16px;
}

.line-20 {
    line-height: 20px;
}

.line-22 {
    line-height: 22px;
}

.line-24 {
    line-height: 24px;
}

.line-26 {
    line-height: 26px;
}

.line-27 {
    line-height: 27px;
}

.line-28 {
    line-height: 28px;
}

.line-30 {
    line-height: 30px;
}

.line-31 {
    line-height: 31px;
}

.line-32 {
    line-height: 32px;
}

.line-36 {
    line-height: 36px;
}

.line-40 {
    line-height: 40px;
}

.line-42 {
    line-height: 42px;
}

.line-65 {
    line-height: 65px;
}

/* Images */
/* ============== */

.image-resizer {
    width: 100%;
    height: auto;
}

.image-resizer-sevenfive {
    width: 75%;
    height: auto;
}

.image-resizer-fifty {
    width: 50%;
    height: auto;
    display: block;
    text-align: center;
}

.image-resizer-two-five {
    width: 25%;
    height: auto;
    display: block;
    text-align: center;
}


/* Float */
/* ============== */

.float-none {
    float: none;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}


/* Max-width */
/* ============== */

.no-max {
    max-width: none !important;
}

.max-w-4 {
    width: 100%;
    height: auto;
    max-width: 4px !important;
}

.max-w-12 {
    width: 100%;
    height: auto;
    max-width: 12px !important;
}

.max-w-15 {
    width: 100%;
    height: auto;
    max-width: 15px !important;
}

.max-w-19 {
    width: 100%;
    height: auto;
    max-width: 19px !important;
}

.max-w-20 {
    width: 100%;
    height: auto;
    max-width: 20px !important;
}

.max-w-24 {
    width: 100%;
    height: auto;
    max-width: 24px !important;
}

.max-w-25 {
    width: 100%;
    height: auto;
    max-width: 25px !important;
}

.max-w-28 {
    width: 100%;
    height: auto;
    max-width: 28px !important;
}

.max-w-30 {
    width: 100%;
    height: auto;
    max-width: 30px;
}

.max-w-35 {
    width: 100%;
    height: auto;
    max-width: 35px;
}

.max-w-38 {
    width: 100%;
    height: auto;
    max-width: 38px;
}

.max-w-48 {
    width: 100%;
    height: auto;
    max-width: 48px;
}

.max-w-50 {
    width: 100%;
    height: auto;
    max-width: 50px !important;
}

.max-w-60 {
    width: 100%;
    height: auto;
    max-width: 60px !important;
}

.max-w-65 {
    width: 100%;
    height: auto;
    max-width: 65px !important;
}

.max-w-70 {
    width: 100%;
    height: auto;
    max-width: 70px !important;
}

.max-w-75 {
    width: 100%;
    height: auto;
    max-width: 75px !important;
}

.max-w-80 {
    width: 100%;
    height: auto;
    max-width: 80px !important;
}

.max-w-90 {
    width: 100%;
    height: auto;
    max-width: 90px !important;
}

.max-w-95 {
    width: 100%;
    height: auto;
    max-width: 95px !important;
}

.max-w-100 {
    width: 100%;
    height: auto;
    max-width: 100px;
}

.max-w-115 {
    width: 100%;
    height: auto;
    max-width: 115px;
}

.max-w-120 {
    width: 100%;
    height: auto;
    max-width: 120px;
}

.max-w-125 {
    width: 100%;
    height: auto;
    max-width: 125px;
}

.max-w-130 {
    width: 100%;
    height: auto;
    max-width: 130px;
}

.max-w-140 {
    width: 100%;
    height: auto;
    max-width: 140px;
}

.max-w-150 {
    width: 100%;
    height: auto;
    max-width: 150px;
}

.max-w-160 {
    width: 100%;
    height: auto;
    max-width: 160px;
}

.max-w-175 {
    width: 100%;
    height: auto;
    max-width: 175px;
}

.max-w-180 {
    width: 100%;
    height: auto;
    max-width: 180px;
}

.max-w-190 {
    width: 100%;
    height: auto;
    max-width: 190px;
}

.max-w-200 {
    width: 100%;
    height: auto;
    max-width: 200px;
}

.max-w-220 {
    width: 100%;
    height: auto;
    max-width: 220px;
}

.max-w-225 {
    width: 100%;
    height: auto;
    max-width: 225px;
}

.max-w-230 {
    width: 100%;
    height: auto;
    max-width: 230px;
}

.max-w-240 {
    width: 100%;
    height: auto;
    max-width: 240px;
}

.max-w-250 {
    width: 100%;
    height: auto;
    max-width: 250px;
}

.max-w-300 {
    width: 100%;
    height: auto;
    max-width: 300px;
}

.max-w-306 {
    width: 100%;
    height: auto;
    max-width: 306px;
}

.max-w-325 {
    width: 100%;
    height: auto;
    max-width: 325px;
}

.max-w-350 {
    width: 100%;
    height: auto;
    max-width: 350px;
}

.max-w-400 {
    width: 100%;
    height: auto;
    max-width: 400px;
}

.max-w-450 {
    width: 100%;
    height: auto;
    max-width: 450px;
}

.max-w-500 {
    width: 100%;
    height: auto;
    max-width: 500px;
}

.max-w-575 {
    width: 100%;
    height: auto;
    max-width: 575px;
}

.max-w-550 {
    width: 100%;
    height: auto;
    max-width: 550px;
}

.max-w-600 {
    width: 100%;
    height: auto;
    max-width: 600px;
}

.max-w-650 {
    width: 100%;
    height: auto;
    max-width: 650px;
}

.max-w-700 {
    width: 100%;
    height: auto;
    max-width: 700px;
}

.max-w-800 {
    width: 100%;
    height: auto;
    max-width: 800px;
}

.height-50 {
    height: 50px !important;
}

.height-100-per {
    height: 100%;
}


/* Decorations & Font Styles */
/* ============== */

.underline {
    text-decoration: underline;
}

.underline-no {
    text-decoration: none !important;
}

.orange-underline {
    width: fit-content !important;
    padding: 0 0 5px 0;
    border-bottom: solid 3px #fb9925 !important;
}

.green-underline {
    width: fit-content !important;
    padding: 0 0 5px 0;
    border-bottom: solid 3px #64aa47 !important;
}

.italic {
    font-style: italic;
}

.font-normal {
    font-style: normal !important;
}

.strike {
    text-decoration: line-through;
}

.caps {
    text-transform: uppercase;
}

.no-caps {
    text-transform: none;
}

.hr-2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid #fefefe !important;
}


/* Text Align */
/* ============== */

.text-center {
    display: block;
    text-align: center;
}

.align-r {
    display: block;
    text-align: right;
}

.align-l {
    display: block;
    text-align: left;
}


/* Layout */
/* ============== */

.custom-container-550 {
    width: 100%;
    max-width: 550px;
    height: auto;
}

.custom-container-600 {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.custom-container-680 {
    width: 100%;
    max-width: 680px;
    height: auto;
}

.custom-container-750 {
    width: 100%;
    max-width: 750px;
    height: auto;
}

.custom-container-768 {
    width: 100%;
    max-width: 768px;
    height: auto;
}

.custom-container-800 {
    width: 100%;
    max-width: 800px;
    height: auto;
}

.custom-container-820 {
    width: 100%;
    max-width: 820px;
    height: auto;
}

.custom-container-840 {
    width: 100%;
    max-width: 840px;
    height: auto;
}

.custom-container-980 {
    width: 96% !important;
    max-width: 980px !important;
    padding-left: 2%;
    padding-right: 2%;
    height: auto;
}

.custom-container-980-no-pad {
    width: 98% !important;
    max-width: 980px !important;
    height: auto;
}

.custom-container-990 {
    width: 100%;
    max-width: 990px;
    height: auto;
}

.custom-container-1000 {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.custom-container-1020 {
    width: 100%;
    max-width: 1020px;
    height: auto;
}

.custom-container-1100 {
    width: 100%;
    max-width: 1100px;
    height: auto;
}

.custom-container-1122 {
    width: 100%;
    max-width: 1122px;
    height: auto;
}

.custom-container-1155 {
    width: 100%;
    max-width: 1155;
    height: auto;
}

.custom-container-1180 {
    width: 100%;
    max-width: 1180px;
    height: auto;
}

.custom-container-1195 {
    width: 100%;
    max-width: 1195px;
    height: auto;
}

.custom-container-1240 {
    width: 100%;
    max-width: 1240px;
    height: auto;
}

.custom-container-1270 {
    width: 100%;
    max-width: 1270px;
    height: auto;
}

.custom-container-1294 {
    width: 100%;
    max-width: 1294px;
    height: auto;
}

.display-none {
    display: none !important;
}

.block {
    display: block;
}

.in-block {
    display: inline-block;
}

.no-block {
    display: inherit;
}

.vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.no-vertical {
    position: relative;
    top: unset;
    transform: unset;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.top {
    top: 0;
}

.top-16 {
    top: -16px !important;
}

.top-22 {
    top: -22px !important;
}

.top-50 {
    top: 50px;
}

.top-50-per {
    top: -50%;
    transform: translateX(-50%);
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.left-50-per {
    left: 50%;
    transform: translateX(-50%);
}

.left-2 {
    left: -2px;
}

.left-5 {
    left: -5px;
}

.left-10 {
    left: -10px;
}

.left-15 {
    left: -15px;
}

.left-20 {
    left: -20px;
}

.right {
    right: 0;
}

/* Layout Widths */
/* ============== */

.full-width {
    width: 100%;
    height: auto;
}

.width-auto {
    width: auto !important;
}

.twenty-five {
    width: 25%;
    height: auto;
}

.thirty-five {
    width: 35%;
    height: auto;
}

.fourty-five {
    width: 45%;
    height: auto;
}

.fifty {
    width: 50%;
    height: auto;
}

.fifty-five {
    width: 55%;
    height: auto;
}

.sixty {
    width: 60%;
    height: auto;
}

.sixty-five {
    width: 65%;
    height: auto;
}

.seventy {
    width: 70%;
    height: auto;
}

.seventy-five {
    width: 75%;
    height: auto;
}

.eighty {
    width: 80% !important;
    height: auto;
}

.eighty-five {
    width: 85%;
    height: auto;
}

.ninety {
    width: 90%;
}

.ninety-five {
    width: 95%;
}

.w-600 {
    width: 100%;
    height: auto;
    max-width: 600px;
}

.fit {
    width: fit-content;
    height: auto;
}

/* Height */
/* ============== */

.height-auto {
    height: auto;
}

.height-400 {
    width: 100%;
    height: 400px;
}

.height-fifty {
    width: 100%;
    height: 50px;
}

.height-sixty {
    width: 100%;
    height: 60px;
}

/* Orders */
@media only screen and (max-width: 992px) {
    .first {
        order: 1;
    }

    .second {
        order: 2;
    }

    .mob-height-100-per-no {
        height: auto;
    }

    .mob-height-500 {
        height: 500px;
    }
}

/* Flexbox */

.flex-wrap {
    width: 100%;
    height: auto;
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.flex-6 {
    flex: 6;
}

.flex-7 {
    flex: 7;
}

.flex-8 {
    flex: 8;
}

.flex-9 {
    flex: 9;
}

.flex-10 {
    flex: 10;
}

.flex-11 {
    flex: 11;
}


/* Lists */
/* ============== */

.no-list-style {
    list-style-type: none;
}

.no-bullets {
    list-style-type: none;
}

.bullets {
    list-style-type: disc !important;
}

.list-inside {
    list-style-position: inside;
}


/* Bullets - List */
.pros li::before {
    content: '';
    width: 35px;
    height: 35px;
    position: absolute;
    background-image: url(../img/check-green.png);
    background-size: cover;
    background-position: center;
    margin-top: -6px;
    left: 5px;
}

.pros-l-8 li::before {
    content: '';
    width: 35px;
    height: 35px;
    position: absolute;
    background-image: url(../img/check-green.png);
    background-size: cover;
    background-position: center;
    margin-top: -6px;
    left: 8px;
}

.cons li:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url(../img/close-x.png);
    background-size: cover;
    background-position: center;
    left: 0;
}


/* Spacing */
/* ============== */

.spacer-30 {
    width: 100%;
    height: auto;
    padding: 15px 0;
}

.spacer-50 {
    width: 100%;
    height: auto;
    padding: 25px 0;
}

.spacer-100 {
    width: 100%;
    height: auto;
    padding: 50px 0;
}


/* Margin */
/* ============== */

.no-mar {
    margin: 0 !important;
}

.no-mar-top {
    margin-top: 0;
}

.mar-all-25 {
    margin: 25px;
}

.mar-top-0 {
    margin-top: 0px !important;
}

.mar-top-3 {
    margin-top: 3px;
}

.mar-top-5 {
    margin-top: 5px;
}

.mar-top-10 {
    margin-top: 10px;
}

.mar-top-15 {
    margin-top: 15px;
}

.mar-top-25 {
    margin-top: 25px;
}

.mar-top-35 {
    margin-top: 35px;
}

.mar-top-40 {
    margin-top: 40px;
}

.mar-top-50 {
    margin-top: 50px;
}

.mar-top-75 {
    margin-top: 75px;
}

.mar-top-80 {
    margin-top: 80px;
}

.mar-top-100 {
    margin-top: 100px;
}

.mar-top-150 {
    margin-top: 150px;
}

.mar-top-bottom-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mar-bottom-0 {
    margin-bottom: 0px !important;
}

.mar-bottom-3 {
    margin-bottom: 3px !important;
}

.mar-bottom-5 {
    margin-bottom: 5px !important;
}

.mar-bottom-10 {
    margin-bottom: 10px !important;
}

.mar-bottom-15 {
    margin-bottom: 15px;
}

.mar-bottom-25 {
    margin-bottom: 25px;
}

.mar-bottom-50 {
    margin-bottom: 50px;
}

.mar-bottom-100 {
    margin-bottom: 100px;
}

.mar-bottom-150 {
    margin-bottom: 150px;
}

.mar-center {
    margin: 0 auto;
}

.l-minus-2 {
    position: relative;
    left: -2px;
}

.l-minus-5 {
    position: relative;
    left: -5px;
}

.mar-l-1 {
    margin-left: 1px;
}

.mar-l-3 {
    margin-left: 3px;
}

.mar-l-5 {
    margin-left: 5px;
}

.mar-l-10 {
    margin-left: 10px;
}

.mar-l-15 {
    margin-left: 15px;
}

.mar-l-20 {
    margin-left: 20px;
}

.mar-l-22 {
    margin-left: 22px;
}

.mar-l-25 {
    margin-left: 25px;
}

.mar-l-30 {
    margin-left: 30px;
}

.mar-l-35 {
    margin-left: 35px;
}

.mar-l-40 {
    margin-left: 40px;
}

.mar-l-50 {
    margin-left: 50px;
}

.mar-l-r-auto {
    margin-left: auto;
    margin-right: auto;
}

.mar-l-r-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.mar-l-r-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.mar-l-r-15 {
    margin-left: 15px;
    margin-right: 15px;
}

.mar-l-r-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.mar-l-r-25 {
    margin-left: 25px;
    margin-right: 25px;
}

.mar-r-0 {
    margin-right: 0px !important;
}

.mar-r-1 {
    margin-right: 1px;
}

.mar-r-3 {
    margin-right: 3px;
}

.mar-r-5 {
    margin-right: 5px;
}

.mar-r-15 {
    margin-right: 15px;
}

.mar-r-25 {
    margin-right: 25px;
}

.mar-r-35 {
    margin-right: 35px;
}

/* Justify Content Center */
.just-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.just-height {
    height: 100%;
}

/* Padding */
/* ============== */

.pad-top-3 {
    padding-top: 3px;
}

.pad-top-5 {
    padding-top: 5px;
}

.pad-top-10 {
    padding-top: 10px;
}

.pad-top-15 {
    padding-top: 15px;
}

.pad-top-20 {
    padding-top: 20px;
}

.pad-top-25 {
    padding-top: 25px;
}

.pad-top-35 {
    padding-top: 35px;
}

.pad-top-50 {
    padding-top: 50px;
}

.pad-top-58 {
    padding-top: 58px;
}

.pad-top-60 {
    padding-top: 60px;
}

.pad-top-61 {
    padding-top: 61px;
}

.pad-top-70 {
    padding-top: 70px;
}

.pad-top-75 {
    padding-top: 75px;
}

.pad-top-80 {
    padding-top: 80px;
}

.pad-top-100 {
    padding-top: 100px;
}

.pad-top-120 {
    padding-top: 120px;
}

.pad-top-125 {
    padding-top: 125px;
}

.pad-top-150 {
    padding-top: 150px;
}

.pad-top-175 {
    padding-top: 175px;
}

.pad-top-200 {
    padding-top: 200px;
}

.pad-bottom-0 {
    padding-bottom: 0px;
}

.pad-bottom-3 {
    padding-bottom: 3px;
}

.pad-bottom-5 {
    padding-bottom: 5px;
}

.pad-bottom-8 {
    padding-bottom: 8px;
}

.pad-bottom-10 {
    padding-bottom: 10px;
}

.pad-bottom-15 {
    padding-bottom: 15px;
}

.pad-bottom-20 {
    padding-bottom: 20px;
}

.pad-bottom-25 {
    padding-bottom: 25px;
}

.pad-bottom-35 {
    padding-bottom: 35px;
}

.pad-bottom-50 {
    padding-bottom: 50px;
}

.pad-bottom-60 {
    padding-bottom: 60px;
}

.pad-bottom-75 {
    padding-bottom: 75px;
}

.pad-bottom-100 {
    padding-bottom: 100px;
}

.pad-l-0 {
    padding-left: 0 !important;
}

.pad-l-3 {
    padding-left: 3px;
}

.pad-l-5 {
    padding-left: 5px;
}

.pad-l-8 {
    padding-left: 8px !important;
}

.pad-l-10 {
    padding-left: 10px !important;
}

.pad-l-15 {
    padding-left: 15px !important;
}

.pad-l-20 {
    padding-left: 20px;
}

.pad-l-25 {
    padding-left: 25px;
}

.pad-l-30 {
    padding-left: 30px;
}

.pad-l-35 {
    padding-left: 35px;
}

.pad-l-40 {
    padding-left: 40px;
}

.pad-l-50 {
    padding-left: 50px;
}

.pad-l-75 {
    padding-left: 75px;
}

.pad-l-r-0 {
    padding-left: 0;
    padding-right: 0;
}

.pad-l-r-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.pad-l-r-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.pad-l-r-35 {
    padding-left: 35px;
    padding-right: 35px;
}

.pad-l-r-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.pad-l-r-100 {
    padding-left: 100px;
    padding-right: 100px;
}

.pad-l-r-bottom-25 {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.pad-r-0 {
    padding-right: 0px !important;
}

.pad-r-5 {
    padding-right: 5px;
}

.pad-r-15 {
    padding-right: 15px;
}

.pad-r-25 {
    padding-right: 25px;
}

.pad-r-35 {
    padding-right: 35px;
}

.pad-r-50 {
    padding-right: 50px;
}

.all-padding-5 {
    padding: 5px !important;
}

.all-padding-10 {
    padding: 10px !important;
}

.all-padding-15 {
    padding: 15px !important;
}

.all-padding-25 {
    padding: 25px !important;
}

.all-padding-40 {
    padding: 40px !important;
}

.all-padding-50 {
    padding: 50px !important;
}

.all-padding-70 {
    padding: 70px !important;
}

.all-padding-75 {
    padding: 75px !important;
}

.all-padding-100 {
    padding: 100px !important;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.all-margin {
    margin: 2px;
}


/* Position */
/* ============== */

.pos-fixed {
    position: fixed;
}

.pos-up-1 {
    position: relative;
    top: -1px;
}

.pos-up-2 {
    position: relative;
    top: -2px;
}

.pos-up-3 {
    position: relative;
    top: -3px;
}

.pos-up-4 {
    position: relative;
    top: -4px;
}

.pos-up-5 {
    position: relative;
    top: -5px;
}

.pos-up {
    position: relative;
    top: -5px;
}

.pos-up-7 {
    position: relative;
    top: -7px;
}

.pos-up-10 {
    position: relative;
    top: -10px;
}

.pos-up-14 {
    position: relative;
    top: -14px;
}

.pos-up-21 {
    position: relative;
    top: -21px;
}

.pos-up-35 {
    position: relative;
    top: -35px;
}

.pos-up-37 {
    position: relative;
    top: -37px;
}

.pos-down-2 {
    position: relative;
    top: 2px;
}

.pos-down-3 {
    position: relative;
    top: 3px;
}

.pos-down-5 {
    position: relative;
    bottom: -5px;
}

.pos-down-10 {
    position: relative;
    bottom: -10px;
}


/* Border */
/* ============== */

.border-0 {
    border: 0 !important;
}

.border-1 {
    border: solid 1px #cccccc;
}

.border-15 {
    border: solid 15px #ededed;
}

.border-1-orange {
    border: solid 1px #fb9925;
}

.border-2-orange {
    border: solid 2px #fb9925;
}

.border-1-green {
    border: solid 1px #64aa47;
}

.border-2-green {
    border: solid 2px #64aa47;
}

.border-2-white {
    border: solid 2px #ffffff;
}

.border-2-darkgrey {
    border: solid 2px #3b3b3b;
}

.border-3-white {
    border: solid 3px #ffffff;
}

.border-3-green {
    border: solid 3px #94d530;
}

.border-3-navy {
    border: solid 3px #023055;
}

.border-5-white {
    border: solid 5px #ffffff;
}

.border-1-grey {
    border: solid 1px #c9c9c9;
}

.border-top-1 {
    border-top: solid 1px #ececec;
}

.border-top-2 {
    border-top: solid 2px #84D321;
}

.border-top-3 {
    border-top: solid 3px #84D321;
}

.border-top-6 {
    border-top: solid 6px #84D321;
}

.border-top-6-grey {
    border-top: solid 6px #868e96;
}

.border-bottom-0 {
    border-bottom: solid 0px #ffffff !important;
}

.border-bottom-1 {
    border-bottom: solid 1px #ececec;
}

.border-bottom-black-3 {
    border-bottom: solid 1px #000000;
}

.border-l-0 {
    border-left: 0px !important;
}

.border-l-1 {
    border-left: solid 1px #ecedf2;
}

.border-l-r-1 {
    border-left: solid 1px #e8e8e8;
    border-right: solid 1px #e8e8e8;
}

.border-r-1 {
    border-right: solid 1px #e8e8e8;
}

.border-r-3-orange {
    border-right: solid 3px #fb9925;
}

.border-top-5-orange {
    border-top: solid 5px #fb9925;
}

.border-top-5-lightgrey {
    border-top: solid 5px #e8e8e8;
}

.border-top-3-green {
    border-top: solid 3px #64aa47;
}

.border-radius-3 {
    border-radius: 3px;
}

.border-radius-5 {
    border-radius: 5px;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-left-top-5 {
    border-top-left-radius: 5px;
}

.border-radius-left-bottom-5 {
    border-bottom-left-radius: 5px;
}

.border-radius-right-top-5 {
    border-top-right-radius: 5px;
}

.border-radius-right-bottom-5 {
    border-bottom-right-radius: 5px;
}

.border-radius-left-top-10 {
    border-top-left-radius: 10px;
}

.border-radius-left-bottom-10 {
    border-bottom-left-radius: 10px;
}

.border-radius-right-top-10 {
    border-top-right-radius: 10px;
}

.border-radius-right-bottom-10 {
    border-bottom-right-radius: 10px;
}

.border-radius-100 {
    border-radius: 100px;
}

.border-radius-t-l-3 {
    border-top-left-radius: 3px;
}

.border-radius-t-l-5 {
    border-top-left-radius: 5px;
}

.border-radius-b-l-5 {
    border-bottom-left-radius: 5px;
}

.border-radius-t-r-3 {
    border-top-right-radius: 3px;
}

.border-radius-t-r-5 {
    border-top-right-radius: 5px;
}

.border-radius-b-r-5 {
    border-bottom-right-radius: 5px;
}

.border-radius-30 {
    border-radius: 30px;
}

.border-radius-50 {
    border-radius: 50%;
}


/* Effects */
/* ============== */
.zoom {
    transition: transform .5s;
    /* Animation */
}

.zoom:hover {
    transform: scale(1.05);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom-2 {
    transition: transform .5s;
    /* Animation */
}

.zoom-2:hover {
    transform: scale(1.008);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.shadow {
    -webkit-box-shadow: 0 2px 4px 0 rgba(52, 52, 52, .5) !important;
    box-shadow: 0 2px 4px 0 rgba(52, 52, 52, .5) !important;
    position: relative;
    /* z-index: 1; */
}

.shadow-01 {
    -webkit-box-shadow: 0 2px 4px 0 rgba(52, 52, 52, 0.2) !important;
    box-shadow: 0 2px 4px 0 rgba(52, 52, 52, 0.2) !important;
}

@media only screen and (max-width: 1200px) {
    .hide-mob-lg {
        display: none !important;
    }
}

@media only screen and (max-width: 1240px) {
    .tab-pad-l-r {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (min-width: 850px) {
    .hide-tab {
        display: none !important;
    }
}

@media only screen and (max-width: 992px) {
    .hide-mob {
        display: none !important;
    }

    .mob-no-flex {
        display: block !important;
    }

    .navbar li {
        padding-bottom: 15px;
    }

    a.navbar-brand {
        display: block;
        margin: 0 auto;
        padding-left: 30px;
    }

    .mob-height-auto {
        height: auto !important;
    }

    .mob-relative {
        position: relative !important;
    }

    .mob-left-unset {
        left: unset !important;
        transform: unset !important;
    }

    .mob-left-0 {
        left: 0;
    }

    .mob-top-unset {
        top: unset !important;
    }

    .mob-no-vertical {
        position: relative;
        top: unset;
        transform: unset;
    }

    .mob-float-none {
        float: none;
    }

    .mob-float-l {
        float: left;
    }

    .mob-float-r {
        float: right;
    }

    .mob-full-width {
        width: 100% !important;
        height: auto;
    }

    .mob-custom-container {
        padding: 0 5%;
    }

    .mob-custom-container-200 {
        width: 100%;
        height: auto;
        max-width: 200px;
        margin: 0 auto;
    }

    .mob-custom-container-400 {
        width: 100%;
        height: auto;
        max-width: 400px;
        margin: 0 auto;
    }

    .mob-custom-container-1180 {
        padding: 0 15px;
    }

    .mob-custom-container-no-pad {
        padding: 0;
    }

    .mob-block {
        display: block !important;
    }

    .mob-no-block {
        display: initial !important;
    }

    .mob-big {
        font-size: 1.2rem;
    }

    .mob-big-up {
        font-size: 1.4rem;
    }

    .mob-bigger {
        font-size: 2rem;
    }

    .mob-font-rem-0-9 {
        font-size: 0.9rem !important;
    }

    .mob-font-rem-1-2 {
        font-size: 1.2rem !important;
    }

    .mob-font-rem-1-4 {
        font-size: 1.4rem !important;
    }

    .mob-font-rem-1-5 {
        font-size: 1.5rem !important;
    }

    .mob-font-rem-1-7 {
        font-size: 1.7rem !important;
    }

    .mob-font-rem-1-8 {
        font-size: 1.8rem !important;
    }

    .mob-font-rem-2 {
        font-size: 2rem !important;
    }

    .mob-font-rem-2-2 {
        font-size: 2.2rem !important;
    }

    .mob-font-rem-2-5 {
        font-size: 2.5rem !important;
    }

    .mob-font-11 {
        font-size: 11px !important;
    }

    .mob-font-13 {
        font-size: 13px !important;
    }

    .mob-font-14 {
        font-size: 14px !important;
    }

    .mob-font-16 {
        font-size: 16px !important;
    }

    .mob-font-17 {
        font-size: 17px !important;
    }

    .mob-font-20 {
        font-size: 20px !important;
    }

    .mob-font-22 {
        font-size: 22px !important;
    }

    .mob-font-21 {
        font-size: 21px !important;
    }

    .mob-font-25 {
        font-size: 25px !important;
    }

    .mob-font-26 {
        font-size: 26px !important;
    }

    .mob-font-27 {
        font-size: 27px !important;
    }

    .mob-font-29 {
        font-size: 29px !important;
    }

    .mob-font-36 {
        font-size: 36px !important;
    }

    .mob-font-37 {
        font-size: 37px !important;
    }

    .mob-font-42 {
        font-size: 42px !important;
    }

    .mob-height-51 {
        height: 51px;
    }

    .mob-height-53 {
        height: 53px;
    }

    .mob-pad-bottom-0 {
        padding-bottom: 0px;
    }

    .mob-pad-bottom-15 {
        padding-bottom: 15px;
    }

    .mob-pad-bottom-20 {
        padding-bottom: 20px;
    }

    .mob-pad-bottom-25 {
        padding-bottom: 25px !important;
    }

    .mob-pad-bottom-35 {
        padding-bottom: 35px !important;
    }

    .mob-pad-bottom-5 {
        padding-bottom: 5px !important;
    }

    .mob-pad-bottom-10 {
        padding-bottom: 10px !important;
    }

    .mob-pad-bottom-50 {
        padding-bottom: 50px !important;
    }

    .mob-pad-bottom-75 {
        padding-bottom: 75px !important;
    }

    .mob-darkgrey-text {
        color: #36373b !important;
    }

    .mob-white {
        background-color: #ffffff;
    }

    .mob-one-hundred {
        width: 100%;
    }

    .mob-width-auto {
        width: auto !important;
    }

    .mob-ninety {
        width: 90% !important;
    }

    .mob-eighty {
        width: 80% !important;
    }

    .mob-sevenfive {
        width: 75% !important;
    }

    .mob-seventy {
        width: 70% !important;
    }

    .mob-sixty {
        width: 60% !important;
    }

    .mob-fifty {
        width: 50% !important;
    }

    .mob-thirty {
        width: 30% !important;
    }

    .mob-border-radius-5 {
        border-radius: 5px;
    }

    .mob-border-radius-50 {
        border-radius: 50%;
    }

    .mob-border-r-0 {
        border-right: solid 0px;
    }

    .mob-border-top-1 {
        border-top: solid 1px #dddddd;
    }

    .mob-align-l {
        text-align: left !important;
    }

    .mob-no-pad {
        padding: 0 !important;
    }

    .mob-all-padding-15 {
        padding: 15px !important;
    }

    .mob-all-padding-25 {
        padding: 25px !important;
    }

    .mob-all-padding-15-50 {
        padding: 15px 50px !important;
    }

    .mob-pad-r-0 {
        padding-right: 0 !important;
    }

    .mob-pad-r {
        padding-right: 15px;
    }

    .mob-pad-r-15 {
        padding-right: 15px;
    }

    .mob-pad-r-25 {
        padding-right: 25px;
    }

    .mob-pad-l-0 {
        padding-left: 0 !important;
    }

    .mob-pad-l-4 {
        padding-left: 4px;
    }

    .mob-pad-l-15 {
        padding-left: 15px;
    }

    .mob-pad-l-20 {
        padding-left: 20px;
    }

    .mob-pad-l-25 {
        padding-left: 25px;
    }

    .mob-pad-l-r-0 {
        padding-left: 0;
        padding-right: 0;
    }

    .mob-pad-l-r-5 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .mob-pad-l-r-15 {
        padding: 0 15px;
    }

    .mob-pad-l-r-20 {
        padding: 0 20px;
    }

    .mob-pad-l-r-25 {
        padding: 0 25px;
    }

    .mob-pad-l-r-50 {
        padding: 0 50px;
    }

    .mob-pad-top-0 {
        padding-top: 0;
    }

    .mob-pad-top-15 {
        padding-top: 15px;
    }

    .mob-pad-top-20 {
        padding-top: 20px;
    }

    .mob-pad-top-25 {
        padding-top: 25px !important;
    }

    .mob-pad-top-35 {
        padding-top: 35px !important;
    }

    .mob-pad-top-45 {
        padding-top: 45px !important;
    }

    .mob-pad-top-60 {
        padding-top: 60px !important;
    }

    .mob-pad-top-5 {
        padding-top: 5px !important;
    }

    .mob-pad-top-10 {
        padding-top: 10px !important;
    }

    .mob-pad-top-30 {
        padding-top: 30px !important;
    }

    .mob-pad-top-40 {
        padding-top: 40px !important;
    }

    .mob-pad-top-50 {
        padding-top: 50px !important;
    }

    .mob-pad-top-75 {
        padding-top: 75px !important;
    }

    .mob-pad-top-100 {
        padding-top: 100px !important;
    }

    .mob-pad-top-150 {
        padding-top: 150px !important;
    }

    .mob-text-center {
        text-align: center;
    }

    .mob-no-mar {
        margin: 0 !important;
    }

    .mob-no-mar-l {
        margin-left: 0 !important;
    }

    .mob-no-mar-r {
        margin-right: 0 !important;
    }

    .mob-no-mar-top {
        margin-top: 0 !important;
    }

    .mob-no-mar-bottom {
        margin-bottom: 0 !important;
    }

    .mob-mar-center {
        margin: 0 auto;
    }

    .mob-mar-r-0 {
        margin-right: 0;
    }

    .mob-mar-top-0 {
        margin-top: 0 !important;
    }

    .mob-mar-top-5 {
        margin-top: 5px !important;
    }

    .mob-mar-top-50 {
        margin-top: 50px !important;
    }

    .mob-mar-l-neg-10 {
        margin-left: -10px;
    }

    .mob-mar-l-neg-15 {
        margin-left: -15px;
    }

    .mob-mar-l-25 {
        margin-left: 25px;
    }

    .mob-mar-l-35 {
        margin-left: 35px;
    }

    .mob-mar-l-r-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .mob-mar-l-r-0 {
        margin-left: 0px;
        margin-right: 0px;
    }

    .mob-mar-l-r-2 {
        margin-left: 2px;
        margin-right: 2px;
    }

    .mob-mar-l-r-25 {
        margin-left: 25px;
        margin-right: 25px;
    }

    .mob-mar-l-0 {
        margin-left: 0px;
    }

    .mob-mar-l-15 {
        margin-left: 15px;
    }

    .mob-mar-l-20 {
        margin-left: 20px;
    }

    .mob-mar-l-50 {
        margin-left: 50px;
    }

    .mob-mar-top-15 {
        margin-top: 15px !important;
    }

    .mob-mar-top-25 {
        margin-top: 25px !important;
    }

    .mob-mar-top-100 {
        margin-top: 100px !important;
    }

    .mob-mar-bottom-2 {
        margin-bottom: 2px !important;
    }

    .mob-mar-bottom-5 {
        margin-bottom: 5px !important;
    }

    .mob-mar-bottom-15 {
        margin-bottom: 15px !important;
    }

    .mob-mar-bottom-25 {
        margin-bottom: 25px !important;
    }

    .mob-mar-bottom-30 {
        margin-bottom: 30px !important;
    }

    .mob-mar-bottom-50 {
        margin-bottom: 50px !important;
    }

    .mob-mar-l-r-no {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .mob-mar-l-r-15 {
        margin: 0 15px;
    }

    .mob-text-align-l {
        text-align: left !important;
    }

    .mob-large {
        font-size: 1.5rem !important;
    }

    .mob-larger {
        font-size: 1.7rem !important;
    }

    .mob-large-xl {
        font-size: 2rem !important;
    }

    .mob-huge-xl {
        font-size: 2.5rem !important;
    }

    .mob-small-text {
        font-size: 0.9rem !important;
    }

    .mob-heavy-500 {
        font-weight: 500 !important;
    }

    .mob-heavy-700 {
        font-weight: 700 !important;
    }

    .mob-heavy-900 {
        font-weight: 900 !important;
    }

    .mob-max-w-40 {
        max-width: 40px;
    }

    .mob-max-w-50 {
        max-width: 50px;
    }

    .mob-max-w-65 {
        max-width: 65px;
    }

    .mob-max-w-50-per {
        max-width: 50%;
    }

    .mob-max-w-75 {
        max-width: 75px;
    }

    .mob-max-w-100 {
        max-width: 100px;
    }

    .mob-max-w-150 {
        max-width: 150px;
    }

    .mob-max-w-160 {
        max-width: 160px;
    }

    .mob-max-w-178 {
        max-width: 178px;
    }

    .mob-max-w-200 {
        max-width: 200px;
    }

    .mob-max-w-250 {
        max-width: 250px;
    }

    .mob-max-w-300 {
        max-width: 300px;
    }

    .mob-max-w-350 {
        max-width: 350px;
    }

    .mob-line-0 {
        line-height: 0;
    }

    .mob-line-16 {
        line-height: 16px;
    }

    .mob-line-22 {
        line-height: 22px;
    }

    .mob-line-18 {
        line-height: 18px;
    }

    .mob-line-24 {
        line-height: 24px;
    }

    .mob-line-26 {
        line-height: 26px;
    }

    .mob-line-29 {
        line-height: 29px;
    }

    .mob-line-32 {
        line-height: 32px;
    }

    .mob-line-30 {
        line-height: 30px;
    }

    .mob-line-34 {
        line-height: 34px;
    }

    .mob-line-36 {
        line-height: 36px;
    }

    .mob-line-40 {
        line-height: 40px;
    }

    .mob-line-42 {
        line-height: 42px;
    }

    .mob-caps {
        text-transform: uppercase;
    }
}

@media only screen and (min-width: 993px) {
    .hide-lg {
        display: none !important;
    }

    .darkgrey-text-lg {
        color: #333333 !important;
    }

    .form-box-lg {
        width: 93% !important;
        height: auto !important;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        border-radius: 5px;
    }
}

@media screen and (min-width: 993px) and (max-width:1182px) {
    .range-pad-l-r {
        padding-left: 25px;
        padding-right: 25px;
    }
}
